/* cerrar */
#close-cart {
    font-size: 20px;
    cursor: pointer;
    text-align: right;
}

/* botones */
.btn-clear, .btn-pay {
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    margin-top: 10px;
}

/* verde medio claro */
.btn-pay {
    background: #6fcf97;
    color: #063823;
}

/* hover */
.btn-pay:hover {
    background: #57bf7f;
}

/* vaciar (menos llamativo) */
.btn-clear {
    background: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
}

.x-btn {
    background:#e74c3c;
    color:#fff;
    border:none;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
}
